# Binaries
*.o
*.so
*.a
*.bin
*.dll
*.exe

# Visual Studio artifacts
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# OS thumbnail files
[Tt]humbs.db
*.DS_Store